body {
  margin: 0;
  font-family: 'Bebas Neue', 'Chaney', 'Arto', 'Poppins', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #CC6237;
  --secondary: #D6BBA9;
  --light-gray: #E3E3E3 ;
  --white: #FFF;
  --black: #000;
}